* text=auto

*.c        text eol=lf
*.h        text eol=lf
*.ld       text eol=lf
*.md       text eol=lf
*.project  text eol=lf
*.cproject text eol=lf
*.prefs    text eol=lf

*.hex binary
*.bin binary
*.elf binary
*.axf binary
*.pdf binary
